/* Body of css */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(to right, pink,rgb(170, 245, 255) );
}

/* setting videos width and height */
video{
    max-width: 60%;
    max-height: 60%;
}