/* for body of the webpage */
body{
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
    background-color: black;
}

/* Unordered list styling */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0d00ff;
}

/* List styling */
li {
    float: left;
}
 
/* List styling for anchor tag*/
li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
  
/* List styling for anchor tag when user hovers */
li a:hover {
    background-color: #111;
}

/* class heading */
.Heading{
    color:#0d00ff
}  

/* class Text */
.Text{
    color: #ffffff;
}

/* Modifying footer */
footer {
    text-align: center;
    padding: 3px;
    color: rgb(0, 0, 0);
    text-align: center;
    color: #0d00ff;
    background-color:#ffffff;
} 

/* modifying link */
link{
    display: none;
}

/* class checked for stars color */
.checked {
    color: orange;
}  

/* class Title */
.Title{
    color: white; 
    text-align: center;
    padding: 10px; 
    text-decoration: none; 
    display: inline-block;
}

/* class Trailer */
.Trailer{
    text-decoration: none;
    color: #ffffff;
}

/* modifying button */
button{
    background-color:#0d00ff;
    padding:10px;
}