/* body of the webpage */
body{ 
    background-color: rgb(127, 216, 215);
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
  }  
  
/* class center box  */
.center-box {
    background-color: #fff;
    border: 1px solid #ccc;
    padding-right: 70px;
    padding-left: 70px;
    padding-bottom: 70px;
    border-radius: 5px;
}

/* class code-box */
.code-box {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* class code-box for the tag pre */
.code-box pre {
  margin: 0;
}

/* class heading  */
.heading {
  background-color: rgb(132, 212, 252);
  text-align: center;
  padding: 20px;
  width: 98%;
}

/* Styling heading 2 */
h2{
  color: #035cca;
}

/* Styling bold */
b{
  color: #020d83;
}

/* Styling heading 3 */
h3{
  color: #035cca;
}