/* body for css  */
body{
    padding-left: 50px;
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 0px;
    background-color: black;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

/* ul styling */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0d00ff;
}

/* List styling   */
li {
    float: left;
}
 
/* li for anchor tag*/
li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
  
/* List for anchor tag for hovering */
li a:hover {
    background-color: #111;
}

/* class heading */
.Heading{
    color:#0d00ff
}  

/* class text */
.Text{
    color: #ffffff;
}

/* footer styling */
footer {
    text-align: center;
    padding: 3px;
    color: rgb(0, 0, 0);
    bottom: 10px;
    width: 92px;

} 

/* Link styling */
link{
    display: none;
}

/* class checked for styling stars */
.checked {
    color: orange;
}

/* Styling footer */
footer{
    text-align: center;
    color: #0d00ff;
    background-color:#ffffff;
    position: absolute;
    bottom: 0;
    width: 92%;
}  

/* class Title */
.Title{
    color: white; 
    text-align: center;
    padding: 10px; 
    text-decoration: none; 
    display: inline-block;
}

/* class Trailer */
.Trailer{
    text-decoration: none;
    color: #ffffff;
}

/* Styling button */
button{
    background-color:#0d00ff;
    padding:10px;
}

