/* body for css */
body{
    padding-left: 50px;
    padding-top: 30px;
    padding-right: 50px;
    background-color: black;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

/* styling unordered list */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0d00ff;
}
  
/* styling list */
li {
    float: left;
}
  
/* list styling for anchor tag*/
li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
  
/* list styling when it hover */
li a:hover {
    background-color: #111;
}

/* class heading */
.Heading{
    color:#0d00ff
}  

/* class text */
.Text{
    color: #ffffff;
}

/* link styling */
link{
    display: none;
}

/* class checked for stars */
.checked {
    color: orange;
}

/* footer styling */
footer{
    text-align: center;
    color: #0d00ff;
    background-color:#ffffff;
}  

/* class Title */
.Title{
    color: white; 
    text-align: center;
    padding: 10px; 
    text-decoration: none; 
    display: inline-block;
}

/* class Trailer */
.Trailer{
    text-decoration: none;
    color: #ffffff;
}

/* button styling */
button{
    background-color:#0d00ff;
    padding:10px;
}
